/* Color Theme Swatches in Hex */
.Closeup-shot-of-a-hard-soap-with-bubbles-and-beautiful-color-textures-1-hex { color: #034159; }
.Closeup-shot-of-a-hard-soap-with-bubbles-and-beautiful-color-textures-2-hex { color: #025951; }
.Closeup-shot-of-a-hard-soap-with-bubbles-and-beautiful-color-textures-3-hex { color: #02735E; }
.Closeup-shot-of-a-hard-soap-with-bubbles-and-beautiful-color-textures-4-hex { color: #038C3E; }
.Closeup-shot-of-a-hard-soap-with-bubbles-and-beautiful-color-textures-5-hex { color: #0CF25D; }

/* Color Theme Swatches in RGBA */
.Closeup-shot-of-a-hard-soap-with-bubbles-and-beautiful-color-textures-1-rgba { color: rgba(2, 64, 89, 1); }
.Closeup-shot-of-a-hard-soap-with-bubbles-and-beautiful-color-textures-2-rgba { color: rgba(1, 89, 80, 1); }
.Closeup-shot-of-a-hard-soap-with-bubbles-and-beautiful-color-textures-3-rgba { color: rgba(2, 114, 94, 1); }
.Closeup-shot-of-a-hard-soap-with-bubbles-and-beautiful-color-textures-4-rgba { color: rgba(2, 140, 62, 1); }
.Closeup-shot-of-a-hard-soap-with-bubbles-and-beautiful-color-textures-5-rgba { color: rgba(12, 242, 92, 1); }

/* Color Theme Swatches in HSLA */
.Closeup-shot-of-a-hard-soap-with-bubbles-and-beautiful-color-textures-1-hsla { color: hsla(196, 94, 18, 1); }
.Closeup-shot-of-a-hard-soap-with-bubbles-and-beautiful-color-textures-2-hsla { color: hsla(174, 96, 17, 1); }
.Closeup-shot-of-a-hard-soap-with-bubbles-and-beautiful-color-textures-3-hsla { color: hsla(168, 96, 22, 1); }
.Closeup-shot-of-a-hard-soap-with-bubbles-and-beautiful-color-textures-4-hsla { color: hsla(146, 96, 28, 1); }
.Closeup-shot-of-a-hard-soap-with-bubbles-and-beautiful-color-textures-5-hsla { color: hsla(140, 90, 49, 1); }
