<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style.css">
  
    <title>Logowanie</title>
</head>
<body>
   
    <form id="login-form" method="post" action = "index.php?action=logowanie">
        <span class= "label_form"><label for="">Login:</label><input type="text" name="login"></span><br>
        <span class= "label_form"><label for="">Haslo:</label><input type="password" name="passwd"></span><br>
       
        <span ><input type="submit" value="Zaloguj"></span><br>

  
        
    </form>
</body>
</html>