<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/../style.css">
  
    <title>Logowanie</title>
</head>
<body>
    <script src="/scripts/skryptyLogowanie.js"></script>

    <div class="main">
    <button id="LoginButton" onclick="log()">Posiadam konto</button><br>
    <button id="RegisterButton" onclick="reg()">Nie posiadam konta</button><br>
   
    <form id="login-form" method="post" action = "index.php?action=logowanie">

        <div id = "login">Login:<input type="text" name="login"><br></div>
        <div id = "email">E-mail:<input type="text" onkeyup="emailcheck()" name="email" id="em"><br></div>
        <span id="blademail">Bledny email</span>
        <div id = "pass">Haslo:<input type="password" onkeyup="passwordcheck()" name="passwd" id="passw"><br></div>
        <span id = "description"> Hasło musi mieć conajmniej 8 znaków w tym liczby oraz dużą literę</span>
        <span id="blad">Nieprawidłowe hasło</span>
       
        <input id="subButton" type="submit" value="Zaloguj"><br>

    </form>
    
        <p id="acc">Jeśli posiadasz konto <a id="hacc" onclick="log()">KLIKNIJ TUTAJ</a></p><br>
        <p id="noacc">Jeśli nie posiadasz konta <a id="dhacc" onclick="reg()">KLIKNIJ TUTAJ</a></p>
        
    </div>

</body>
</html>