<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Title</title>
</head>
<body>


<h1>Witom</h1>

<form id="newUser-form" method="post" action = "index.php?action=newUser">
    <?php
    for($i = 0; $i < $tags_number[0][0]; $i++){
    ?>
    <input type="checkbox" name="tag[]" id="tag<?php echo $i; ?>" value="<?php echo $all_tags[$i][0]; ?>">
    <label for="tag<?php echo $i; ?>"> <?php echo $all_tags[$i][0]; ?></label><br>
    <?php } ?>
    <input type="submit" value="Zapisz Tagi">
</form>

</body>
</html>