<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user</title>
</head>
<body>

    <a href="./index.php?action=ksiazki_do_pozycz_user">Książki do wypożyczenia</a>
    <a href="./index.php?action=ksiazki_uzytkownik"> Lista pożyczonych książek</a>
    <a href="./index.php?action=wyloguj">wyloguj</a>
    <a href="./index.php?action=watchVideo"> testowe ogladanie</a>
    
</body>
</html>
