<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Ustawienia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/scripts/jquery-3.6.3.js"></script>
</head>
<body>



<style>
    .list-group-item {
        display: flex;
        align-items: center;
        justify-content: center;
    }

</style>
  



<div class="col-12 vh-100 p-5">
    <div class="row col-12 h-100 d-flex justify-content-center align-items-start">
            <ul class="list-group">
                <li class="list-group-item">
                    <button id="button1" class="btn btn-secondary m-3 px-3" >Zmień hasło</button>
                </li>
                <li class="list-group-item">
                    <form  method="POST" action="index.php?action=ustawienia">
                        <input type="submit" name="Colorsubmit" value="Zapisz wybrany kolor" id="button2" class="btn btn-secondary m-3 px-3" >
                        <br>
                        <input type="color" class="btn btn-outline-secondary m-3 px-3" id="favcolor" name="favcolor" value="#ff0000">
                    </form>
                </li>
                <li class="list-group-item">
                    <a href="index.php?action=userChatPage" id="button3" class="btn btn-secondary m-3 px-3" >Przejdź do czatu</a>
                </li>
                <li class="list-group-item">
                    <button id="changePrivil-button" class="btn btn-secondary m-3 px-3" data-bs-toggle="modal" data-bs-target="#edit">Poproś o zmiane uprawnień konta</button>
                </li>
            </ul>

    </div>
</div>




<!-- Modal Change_Acc_Type -->
    <div class="modal fade" id="edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Poproś o zmiane uprawnień konta</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method = 'post' id="changePrivil-form">
                        <label  for="title3">Tytuł zgłoszenia:</label><br>
                        <input class="form-control" type="text" id="title3" name="title3"><br>
                        <label  for="reason3">Podaj przyczyne prośby:</label><br>
                        <input  class="form-control"type="text" id="reason3" name="reason3"><br>
                        <input type="text" id="id_user3" name="id_user3" value="<?php echo $_SESSION['id_user'] ?>"style="visibility:hidden">
                        <button type="submit" name="changePrivilButton" class="btn btn-primary w-22">Wyślij</button>
                    </form>

                </div>

            </div>
        </div>
    </div>












<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.16.0/dist/umd/popper.min.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>

<script>
    $(document).ready(function(){
        let color = "<?php echo $bgColor; ?>"; //Getting the color value from PHP variable
        document.querySelector("body").style.backgroundColor = color;
        //$("body").css("background-color", color); //Changing the background color of the body element
        console.log(color);
    });
</script>

    <script>

$(document).ready(function(){


$('#edit').on('show.bs.modal', function (event) {

  document.getElementById("changePrivil-form").addEventListener("submit", function(event) {
        event.preventDefault(); //zeby nie byl od razu wyslany
    
        var reason3 = document.getElementById("reason3").value;
        var title3 = document.getElementById("title3").value;
        var id_user3 = document.getElementById("id_user3").value;
    
        if (reason3 == "" || title3 == "") {
          window.alert("Values cannot be empty!");
        } else {
            $.ajax({  
            type: 'POST',  
            url: '/scripts/changePrivil.php', 
            data: {reason3: reason3, title3: title3, id_user3: id_user3},
            success: function(response) {
                console.log(response);
        }
    });
        }
        
          });
})

    var maxWidth = 0;

    $('.btn').each(function(){
        if($(this).width() > maxWidth){
            maxWidth = $(this).width();
        }
    });

    $('.btn').width(maxWidth);




});
    </script>


</body>
</html>