<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Title</title>


  <h1>Test strony oglądania</h1>
  </head>
  <body>

    <?php
    
    // sprawdź, czy istnieje poprzedni film
    if ($currentIndex > 0) {
        echo "<a href='index.php?action=watchVideo&index=" . ($currentIndex - 1) . "'><button>Poprzedni</button></a>";
    }
    
    // wyświetl aktualny film w zaleznosci czy rozszerzenie mp4 czy brak dla youtube
    if($urlTable[$currentIndex]['extension'] == 'mp4') echo "Tutaj wyswietlenie filmu z pliku mp4, jak nie to to ponizej";
    else echo "<iframe width='1233' height='753' src='" . Video::youtube_link_to_embed($urlTable[$currentIndex]['url']) . "' title='' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe>";
    
    // sprawdź, czy istnieje następny film
    if ($currentIndex < count($urlTable) - 1) {
        echo "<a href='index.php?action=watchVideo&index=" . ($currentIndex + 1) . "'><button>Następny</button></a>";
    }
    ?>
    
  </body>
</html>